<ion-app>
  <app-menu></app-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-card>
        <img alt="BarberShop logo" src="https://static.vecteezy.com/ti/vetor-gratis/p1/11874742-de-logotipo-de-barbearia-gratis-vetor.jpg" />
      </ion-card>

      <ion-item>
        <ion-label position="floating">Company Name</ion-label>
        <ion-input [(ngModel)]="companyName" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Barber Name</ion-label>
        <ion-input [(ngModel)]="barberName" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input [(ngModel)]="address" type="text"></ion-input>
      </ion-item>

      <p>Enter date and time of operation</p>

      <app-day-time day="Monday"></app-day-time>
      <app-day-time day="Tuesday"></app-day-time>
      <app-day-time day="Wednesday"></app-day-time>
      <app-day-time day="Thursday"></app-day-time>
      <app-day-time day="Friday"></app-day-time>
      <app-day-time day="Saturday"></app-day-time>
      <app-day-time day="Sunday"></app-day-time>

      <app-button buttonName="Save" (buttonClick)="saveCompanyData()"></app-button>
    </ion-content>
  </div>
</ion-app>
