.insert-client {
    margin-top: 15px;
  }
  
ion-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
  
.client-details {
    width: 75%;
}
  
.remove-schedule {
    width: 25%;
}
  