.insert-client{
    margin-top: 15px;
}

.list-clients{
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

ion-button{
    height: fit-content;
    align-items: center; 
}