<ion-app>
  <app-menu></app-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{companyName}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="insert-client">
        <ion-item>
          <ion-label position="floating">Customer Name</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Select datetime</ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" (ionChange)="onDateTimeChange($event)"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      
        <ion-list>
          <ion-item>
            <ion-select aria-label="Services" placeholder="Select all services" [multiple]="true" [(ngModel)]="selectedServices">
              <ion-select-option *ngFor="let haircut of haircuts" [value]="haircut.haircutName + ' - ' + haircut.price">
                {{haircut.haircutName}} - {{haircut.price}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      
        <ion-button class="saveSchedule" (click)="saveSchedule()">Save</ion-button>
      </div>

      <ion-list *ngFor="let client of clients">
        <div class="client-details">
          <app-customers 
          name="{{client.name}}"
          date="{{client.datetime | customDateFormat}}" 
          service="{{client.service}}">
          </app-customers>
        </div>
        <ion-button class="remove-schedule" (click)="removeClient(client)">Remove schedule</ion-button>
      </ion-list> 
    </ion-content>
  </div>
</ion-app>
