<ion-app>
  <!-- Inclua o componente de menu -->
  <app-menu></app-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-searchbar show-clear-button="focus" clear-icon="trash-bin" search-icon="Search-outline" placeholder="Search for the customer"></ion-searchbar>
      
      <ion-list>
        <app-customers></app-customers>
        <app-customers></app-customers>
        <app-customers></app-customers>
      </ion-list>
    </ion-content>
  </div>
</ion-app>
