<ion-item class="custom-item">
  <ion-card class="custom-card">
    <div class="card-content">
      <img class="client-image" alt="Client picture" src="https://cdn-icons-png.flaticon.com/512/6009/6009864.png" />
      <div class="info-content">
        <ion-card-header>
          <ion-card-title>Client name</ion-card-title>
          <ion-card-subtitle>Today 20:00h</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Haircut and Beard
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</ion-item>
